<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @articles.title %></h1>
    </div>
    <div class="col-md-12">
      <% unless @articles.user.nil? %>
        <h4>Escrito por: <%= @articles.user.email%></h4><h6>Visitas: <%= @articles.visits_count%></h6>
      <% end %>
    </div>
    <% @articles.categories.each do |category| %>
      <div class="col-md-2">
        <%= link_to category.name, category, style:"color: #{category.color};", class:"list-group-item text-center" %>
      </div>
    <%end%>
    <div class="col-md-2">
      <%= link_to "Editar", edit_article_path(@articles), class:"list-group-item panel-primary text-center" %>
    </div>
    <div class="col-md-12">
      <%= image_tag @articles.cover.url(:thumb), class:"img-thumbnail" %>
    </div>
    <div class="col-md-12">
      <%= @articles.body %>
    </div>
    <div class="col-md-12">
      <h3>Comentarios</h3>
      <%= render "comments/form" %>
    </div>
    <div class="col-md-12">
      <ul id="comments-box">
        <% @articles.comments.each do |comment| %>
          <li><%= comment.body %> - <%= comment.user.email %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>